@page "/shopping-list/{id:int}"
@rendermode InteractiveWebAssembly

<h3>@(ShoppingListDto?.Name)</h3>

@foreach (var item in ShoppingListItems ?? [])
{
    <div class="row">
        <input type="checkbox" class="form-check" checked="@item.IsPicked" @onchange="@(args => ToggleItemAsync(item, args))"/>
        <span>@item.Name</span>
    </div>
}

<div class="form-floating mb-3">
    <InputText id="recipe-name" class="form-control" @bind-Value="ItemName" />
    <label class="form-label" for="recipe-name">Name</label>
</div>
<button class="btn btn-primary" @onclick="AddItemAsync">Add Item</button>
